In [3]:
"i'm fine"

"i'm fine"

In [4]:
'i\'m fine'

"i'm fine"

In [5]:
'Press "Enter"'

'Press "Enter"'

In [7]:
print ('Red' + ' ' + 'Car')

Red Car

In [8]:
print('Red','Car')

Red Car

In [9]:
1 + 2

3

In [12]:
a = 5 ** 3
b = 5 * 3

In [13]:
print(a)
print(b)

125
15

In [14]:
a == 125

True

In [15]:
c = 2 * \
2

In [16]:
print(c)

4

In [32]:
d = "Shubham"[::-1]
print(d)

mahbuhS

In [48]:
def five(x):
    x = 5
    return x

In [50]:
print(five(5))

5

In [51]:
5 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-51-20faadc7ecbf>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 5

True

In [52]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-52-635fcd361971>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [53]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-53-d7a89cdfaf51>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [54]:
5 != 6

True

In [55]:
if 5 == 5:
    print("Its an exact match")

Its an exact match

In [60]:
if 5 == 6:
    print("Its an exact match")
else:
    print("Its not an excat match")

Its not an excat match

In [66]:
x = 3
if x > 4:
    print("Case 1")
else:
    print("Case 2")

Case 2

In [69]:
x = 1
if x < 1:
    print("Case 1")
elif x > 1:
    print("Case 2")
else:
    print("Case 3")

Case 3

In [70]:
def num_check(x):
    if x < 1:
        print("Case 1")
    elif x > 1:
        print("Case 2")
    else:
        print("Case 3")

In [71]:
num_check(1)

Case 3

In [72]:
num_check(2)

Case 2

In [73]:
num_check(3)

Case 2

In [79]:
def compare_to_five(y):
    if y > 5:
        return print("Greater")
    elif y < 5:
        return print("Less")
    else:
        return print("Equal")

In [80]:
compare_to_five(1)

Less

In [81]:
compare_to_five(5)

Equal

In [82]:
compare_to_five(6)

Greater

In [89]:
def simple(x):
    print("My first function")

In [95]:
print(simple(x))

My first function
None

In [96]:
def plus_10(x):
    return x + 10

In [97]:
print(plus_10(2))

12

In [98]:
print(plus_10(10))

20

In [104]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [105]:
print(wage(2))

50

In [108]:
print(with_bonus(2))

100

In [110]:
def subtract(a,b,c):
    result = a - b * c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [113]:
print(subtract(10,2,3))

Parameter a equals 10
Parameter b equals 2
Parameter c equals 3
4

In [114]:
print(subtract(b=10,c=2,a=3))

Parameter a equals 3
Parameter b equals 10
Parameter c equals 2
-17

In [118]:
round(5.2233,2)

5.22

In [119]:
pow(2,2)

4

In [121]:
even = [0,2,4,6,8,10,12,14,16,18,20]
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [126]:
x = 0
while x <=10:
    print (x)
    x += 2

0
2
4
6
8
10

In [135]:
for x in range(0,15,2):
    print(x)

0
2
4
6
8
10
12
14

In [138]:
for x in range(20):
    if x % 2 ==1:
        print(x)
#     else:
#         print("Odd")

1
3
5
7
9
11
13
15
17
19

In [146]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [149]:
print(count([0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1]))

26

In [153]:
import sys
print("Python Version")
print("------------------------------------------------")
print(sys.version)
print("------------------------------------------------")
print("Version Info")
print("------------------------------------------------")
print(sys.version_info)

Python Version
------------------------------------------------
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
------------------------------------------------
Version Info
------------------------------------------------
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

In [184]:
name_list = [item for item in input("Enter names in the list: ").split()]
print(name_list)

Enter names in the list: Shubham, Tejashree
['Shubham,', 'Tejashree']

In [187]:
# Write a program to determine whether a given number is within 10 of 100 or 200.
def num_check(n):
    return((abs(100 - n) <= 10)or (abs(200 - n)<= 10))
print(num_check(10))
print(num_check(100))
print(num_check(200))   
print(num_check(120))

False
True
True
False

## Questions

### 1)Using the type function, determine the datatype of the following literal values:
a) 'a'
<br>
b) 'abcd'
<br>
c) u'abcd'
<br>
d) "x"
<br>
e) "yz"
<br>
f) 122
<br>
g) 02
<br>
h) 09
<br>
i) 0x2
<br>
j) True
<br>
k) true
<br>
l) (1, 2)
<br>
m) ["1", 2]
<br>
n) {123: "abc", 345: "alive"}

In [192]:
print(type('a'))
print(type('abcd'))
print(type(u'abcd'))
print(type("x"))
print(type("yz"))
print(type(122))
print(type(0x2))
print(type(True))
print(type((1, 2)))
print(type(["1", 2]))
print(type({123: "abc", 345: "alive"}))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [189]:
print(type(02))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-189-90584372d4cd>, line 1)

In [191]:
print(type(09))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-191-8fa9766a1144>, line 1)

In [193]:
print(type(true))

NameError: name 'true' is not defined

### 2) Investigate the use of the id function. Enter the following and note the return value in each case. Are the return values equal or unequal? If they are equal, then why is this the case?

x = "a"
<br>
y = "a"
<br>
print(id(x))
<br>
print(id(y))
<br>
x = "another string"
<br>
y = "another string"
<br>
print(id(x))
<br>
print(id(y))
<br>
Investigate the immutability and internment of string values in Python.

In [194]:
x = "a"
y = "a"
print(id(x))
print(id(y))

1762807664176
1762807664176

In [195]:
x = "another string"
y = "another string"
print(id(x))
print(id(y))

1762943460208
1762943459952

### 3) Create a list to store the following values: 1, 2, 3, 4, 5, 6 and assign this list to a variable called myList .
<br>
Print the contents myList .
<br>
Print the contents of myList in reverse using index slicing.
<br>
Print the contents of myList in reverse using a loop.
<br>
Append 10 random integers to myList using a loop.
<br>
Extend myList with the following list [200, 300] .
<br>
Store the last number in the list in a variable called lastVal and remove that
value from myList . [Note: for this task you should investigate using the pop()method.]

In [196]:
# Print the contents myList .
myList = [1, 2, 3, 4, 5, 6 ]
print(myList)

[1, 2, 3, 4, 5, 6]

In [197]:
# Print the contents of myList in reverse using index slicing.
rev_myList = myList[::-1]
print(rev_myList)

[6, 5, 4, 3, 2, 1]

In [198]:
# Print the contents of myList in reverse using a loop.
i = len(myList) - 1
while i >=0:
    print(myList[i])
    i -= 1

6
5
4
3
2
1

In [199]:
for i in range(len(myList) -1,-1,-1):
    print(myList[i])

6
5
4
3
2
1

In [200]:
# Append 10 random integers to myList using a loop
import random
for i in range(10):
    myList.append(random.randrange(1,100,1))
print(myList)

[1, 2, 3, 4, 5, 6, 13, 60, 99, 83, 87, 18, 27, 63, 78, 38]

In [202]:
# Extend myList with the following list [200, 300]
myList.extend([200,300])
print(myList)

[1, 2, 3, 4, 5, 6, 13, 60, 99, 83, 87, 18, 27, 63, 78, 38, 200, 300, 200, 300]

### 4) Create an empty dictionary object called myDict . Using a loop structure, add an entry to myDict for each value in myList . The key values for entries in myDict should be integer values commencing at 0 .

In [218]:
myDict = {}
print(myDict)
print(len(myList))

{}
20

In [219]:
count = 0
myDict = {}
for i in myList:
    myDict[count] = i
    count += 1
print(myDict)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 13, 7: 60, 8: 99, 9: 83, 10: 87, 11: 18, 12: 27, 13: 63, 14: 78, 15: 38, 16: 200, 17: 300, 18: 200, 19: 300}

### 3) Variable declarations Remove the illegal characters in the variable name:
<br>
a. 2my-first_name = "John"
<br>
b. _age = 56
<br>
c. #age2 = 56
<br>
d. john23 = “email@ed.com”
<br>
e. JoHn23 = “email@ed.com”
<br>
f. JoHn?23 = “email@ed.com”
<br>
g. JoHn-23-09 = “email@ed.com”
<br>
h. Jo$Hn = “email@ed.com”

In [221]:
myfirst_name = "John"
age = 56
age2 = 56
john23 = 'email@ed.com'
JoHn23 = 'email@ed.com'
JoHn23 = 'email@ed.com'
JoHn23 = 'email@ed.com'
JoHn = 'email@ed.com'

### 2. Create a variable named car and assign the value Volvo to it.

In [222]:
car = "Volvo"

### 3. Use a multiline string to make the a multi line comment:

In [223]:
'''
This is a multiline comment.
You can add much as lines to this comment.
You can also write about Class, Functions, and variables.
'''

'\nThis is a multiline comment.\nYou can add much as lines to this comment.\nYou can also write about Class, Functions, and variables.\n'

### 4. Insert the correct syntax to assign the same value to all three variables in one code line.
x _ y _ z _ "Orange"

In [224]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

## Types/Statements

### 1. What is the type of the following variables? are any problems

In [228]:
x = 5
print(type(x))
x = 5.65465
print(type(x))
x = 2.
print(type(x))
x = .6
print(type(x))
x
print(type(x))
x = 5+8j
print(type(x))
x = "Hello"
print(type(x))
x = 'Age 39'
print(type(x))
x = False
print(type(x))
x = []
print(type(x))
x = 'Age' + str(39)
print(type(x))
x = 45 + 67 < 90
print(type(x))
x = None
print(type(x))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
x = true
print(type(x))
x = 5 + 8i
print(type(x))
x = 'Age' + 39
print(type(x))

### 2. Insert the correct syntax to convert x into a decimal number.
x = 5
<br>
x = ____ (x)

In [230]:
x = 5
x = float(x)
print(x)

5.0

### 6. Insert the correct syntax to convert x into an integer.
x = 5.5
<br>
x = ____ (x)

In [231]:
x = 5.5
x = int(x)
print(x)

5

In [232]:
x = 10
y = 15
avg = (x + y)/2
print(avg)

12.5

In [234]:
x = 5
x = complex(x)
x

(5+0j)

In [235]:
print(bool("abc"))

True

In [236]:
print(bool(0))

False

In [237]:
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

In [241]:
print("Yes")if 5 > 2 else print("No")

Yes

In [243]:
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

5

### 7. create and print a string variable (e.g “Introduction to Programming”) that is produced by the concatenation of at least 2 variables

In [246]:
a = "Introduction"
b = "to"
c = "Programming"
concatanate = a +" "+ b + " " + c
print(concatanate)

Introduction to Programming

### 8. print a message that displays the overall grade of a given student that is based on CA (0.4%) and exams (60%). For example, “Thanos ca: 45%, exam: 58%, overall: 52.8”

In [253]:
name = "Thanos"
ca = 45.0
exam = 58.0
overall = (ca * 0.4) + (exam * 0.6)
print(f"{name} ca: {ca}, exam: {exam}, overall: {overall}")

Thanos ca: 45.0, exam: 58.0, overall: 52.8

In [255]:
x = 10
y = 20
(x+y)<100 and (x)>2 or y<25

True

### 9. The statement below would print a Boolean value, which one?

In [257]:
print(10 == 9)

False

In [259]:
print(10 != 8+2)

False

In [260]:
print(10 ! = 8+1)

SyntaxError: invalid syntax (<ipython-input-260-e5731e217b6f>, line 1)

In [261]:
print(bool("abc"))

True

In [262]:
print(bool(‘’))

SyntaxError: invalid character in identifier (<ipython-input-262-240380ba7d09>, line 1)

In [263]:
print(bool(0))

False

## Strings

In [264]:
txt = "Hello World"

In [265]:
print(len(txt))

11

In [266]:
print(txt[0])

H

In [267]:
print(txt[2:5])

llo

In [270]:
print(txt[2:7])

llo W

In [273]:
print(txt.strip())

Hello World

In [274]:
print(txt.upper())

HELLO WORLD

In [275]:
print(txt.lower())

hello world

In [277]:
print(txt.replace("H","J"))

Jello World

### 2. Add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged

In [279]:
def add_string(str1):
    length = len(str1)
    if length > 2:
        if str1[-3:] == 'ing':
            str1 += 'ly'
        else:
                str1 += 'ing'
    return str1

In [280]:
print(add_string('ab'))
print(add_string('abc'))
print(add_string('string'))

ab
abcing
stringly

### 3. Write a Python program to remove the nth index character from a nonempty string.

In [281]:
def remove_chr(str, n):
    first_part = str[:n]
    last_part = str[n+1:]
    return first_part + last_part

In [283]:
print(remove_chr('Python', 0))
print(remove_chr('Python', 3))
print(remove_chr('Python', 5))

ython
Pyton
Pytho

### 4. Write a Python program to display a number with a comma separator.

In [285]:
x = 2000000
y = 20000000
print('Original Number: ', x)
print("Formatted Number with comma separator: "+"{:,}".format(x))
print('Original Number: ', y)
print("Formatted Number with comma separator: "+"{:,}".format(y))

Original Number:  2000000
Formatted Number with comma separator: 2,000,000
Original Number:  20000000
Formatted Number with comma separator: 20,000,000

### 5. Write a Python program to convert a string in a list.

In [287]:
def convert_str_to_lst(string):
    li = list(string.split(" "))
    return li

str1 = "National College of Ireland"
print(convert_str_to_lst(str1))

['National', 'College', 'of', 'Ireland']

In [288]:
print(str1.split(' '))

['National', 'College', 'of', 'Ireland']

### 6. Write a Python program to remove spaces from a given string

In [289]:
def remove_spaces(str2):
    str2 = str2.replace(' ', '')
    return str2

In [290]:
print(remove_spaces("This is the sentence with spaces"))

Thisisthesentencewithspaces

## Lists

### 1.Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list of those numbers

In [294]:
values = input("Input some comma separated numbers: ")
list = values.split(",")
print("List : ", list)

Input some comma separated numbers: 1,2,3
List :  ['1', '2', '3']

### 2.Write a Python program to clone or copy a list

In [298]:
org_list = [10,25,63,45,65]
clone_list = org_list.copy()
print(org_list)
print(clone_list)

[10, 25, 63, 45, 65]
[10, 25, 63, 45, 65]

## Dictionary

### 1. Write a Python program to add a key to a dictionary.

In [299]:
d = {0:10, 1:20, 2:30}
print("Original dict: ",d)
d.update({3:40})
print("Updated dict: ",d)

Original dict:  {0: 10, 1: 20, 2: 30}
Updated dict:  {0: 10, 1: 20, 2: 30, 3: 40}

### 2. Write a Python program to check whether a given key already exists in a dictionary

In [300]:
dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
    if x in dictionary:
        print("Key is present in the dictionary")
    else:
        print("Key is not present in the dictionary")

In [301]:
is_key_present(5)
is_key_present(9)

Key is present in the dictionary
Key is not present in the dictionary

### 3. Write a Python program to remove a key from a dictionary.

In [302]:
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

## Fucntions

### 1. Write a Python function to find the Max of three numbers

In [305]:
def max_of_two(x,y):
    if x > y:
        return x
    return y

def max_of_three(x,y,z):
    return max_of_two(x, max_of_two(y,z))
print(max_of_three(3, 6,-5))

6

### 2. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

In [307]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n = int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 12
479001600